**/target/
**/node_modules/
/src/x.rs

debug
**/debug/

.DS_Store

# IDEs
.idea
.vscode
.envrc

debian/pop-cli/
debian/debhelper-build-stamp
debian/files
debian/pop-cli.substvars
debian/.debhelper

vendor/