[submodule "templates/ept"]
	path = templates/ept
	url = git@github.com:paritytech/extended-parachain-template.git

[submodule "templates/vanilla-parachain"]
	path = templates/vanilla-parachain
	url = git@github.com:r0guelabs/vanilla-parachain.git

