**/target/
**/node_modules/
/src/x.rs

debug
**/debug/

.DS_Store

# IDEs
.idea
.vscode
.envrc

debian/pop-cli/
debian/debhelper-build-stamp
debian/files
debian/pop-cli.substvars
debian/.debhelper

arch/src/
arch/pkg/
arch/*.pkg.tar*
arch/*.tar.gz
arch/*.log
arch/cargo-home/
arch/.SRCINFO

vendor/