[profile.release]
panic = "unwind"
opt-level = 3
debug = false

[profile.production]
inherits = "release"
lto = true
codegen-units = 1

[workspace]
resolver = "2"
members = ["crates/*"]

[workspace.package]
edition = "2021"
documentation = "https://learn.onpop.io/"
license = "GPL-3.0"
repository = "https://github.com/r0gue-io/pop-cli"
rust-version = "1.81.0"
version = "0.6.0"

[workspace.dependencies]
anyhow = "1.0"
assert_cmd = "2.0.14"
cargo_toml = "0.20.3"
dirs = "5.0"
duct = "0.13"
env_logger = "0.11.7"
flate2 = "1.0.30"
git2 = { version = "0.18", features = ["vendored-openssl"] }
glob = "0.3.1"
log = "0.4.20"
mockito = "1.4.0"
tar = "0.4.40"
tempfile = "3.10"
thiserror = "1.0.58"
tokio-test = "0.4.4"
toml = "0.5.0"
tracing-subscriber = "0.3.19"

# networking
reqwest = { version = "0.12", features = ["json", "multipart", "stream"] }
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
url = "2.5.4"

# contracts
subxt-signer = { version = "0.38.0", features = ["subxt", "sr25519"] }
subxt = "0.38.0"
ink_env = { git = "https://github.com/use-ink/ink", branch = "master" }
sp-core = { git = "https://github.com/paritytech/polkadot-sdk", rev = "f8c90b2a01ec77579bccd21ae17bd6ff2eeffd6a", default-features = false}
sp-weights = { git = "https://github.com/paritytech/polkadot-sdk", rev = "f8c90b2a01ec77579bccd21ae17bd6ff2eeffd6a", default-features = false }
scale = { package = "parity-scale-codec", version = "3.6.12", features = ["derive"] }
scale-info = { version = "2.11.6", default-features = false, features = ["derive"] }
scale-value = { version = "0.17.0", default-features = false, features = ["from-string", "parser-ss58"] }
contract-build = { git = "https://github.com/use-ink/cargo-contract", version="6.0.0-alpha", branch = "alex/fix-mod-visibility" }
contract-extrinsics = { git = "https://github.com/use-ink/cargo-contract", version="6.0.0-alpha", branch = "alex/fix-mod-visibility" }
contract-transcode = { git = "https://github.com/use-ink/cargo-contract", version="6.0.0-alpha", branch = "alex/fix-mod-visibility" }
heck = "0.5.0"

# parachains
askama = "0.12"
regex = "1.10"
walkdir = "2.5"
indexmap = "2.2"
toml_edit = { version = "0.22", features = ["serde"] }
symlink = "0.1"
serde_json = { version = "1.0", features = ["preserve_order"] }
serde = { version = "1.0", features = ["derive"] }
srtool-lib = "0.13.2"
zombienet-sdk = "0.2.26"
git2_credentials = "0.13.0"

# benchmarking
cumulus-primitives-proof-size-hostfunction = "0.10.0"
frame-benchmarking-cli = "46.0.0"
sc-chain-spec = "41.0.0"
sp-runtime = "40.0.1"
sp-statement-store = "15.0.0"

# pop-cli
clap = { version = "4.5", features = ["derive"] }
cliclack = "0.3.1"
console = "0.15"
os_info = { version = "3", default-features = false }
strum = "0.26"
strum_macros = "0.26"

# wallet-integration
axum = "0.7.9"
open = "5.3.1"
tower-http = "0.6.2"
