[package]
name = "pop"
version = "0.1.0"
edition = "2021"
description = "todo"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "1.0.75"
askama = "0.12.1"
clap = { version = "4.4.8", features = ["derive"] }
git2 = "0.18.1"
# semver = "1.0.20"
strum = "0.25.0"
strum_macros = "0.25.3"
tempfile = "3.8.1"
walkdir = "2.4.0"
