[package]
name = "pop-cli"
description = "An all-in-one tool for Polkadot development."
version = "0.1.0"
edition = "2021"

[[bin]]
name = "pop"
path = "src/main.rs"

[dev-dependencies]
assert_cmd = "2.0.14"
tempdir = "0.3.7"

[dependencies]
anyhow = "1.0"
askama = "0.12"
clap = { version = "4.4", features = ["derive"] }
cliclack = "0.1"
console = "0.15"
duct = "0.13"
git2 = "0.18"
log = "0.4"
# semver = "1.0.20"
strum = "0.26"
strum_macros = "0.26"
tempfile = "3.8"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
url = { version = "2.5", optional = true }
walkdir = "2.4"
toml_edit = { version = "0.22.7" }

# contracts
contract-build = { version = "4.0.0-rc.3", optional = true }
contract-extrinsics = { version = "4.0.0-rc.3", optional = true }
sp-core = { version = "30.0.0", optional = true }
subxt-signer = { version = "0.34.0", features = [
    "subxt",
    "sr25519",
], optional = true }
subxt = { version = "0.34.0", optional = true }
ink_env = { version = "5.0.0-rc.2", optional = true }
sp-weights = { version = "29.0.0", optional = true }
ansi_term = "0.12.1"

# parachains
dirs = { version = "5.0", optional = true }
indexmap = { version = "2.2", optional = true }
reqwest = { version = "0.11", optional = true }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
symlink = { version = "0.1", optional = true }
tracing-subscriber = { version = "0.3", optional = true }
zombienet-sdk = { git = "https://github.com/r0gue-io/zombienet-sdk", branch = "pop", optional = true }
zombienet-support = { git = "https://github.com/r0gue-io/zombienet-sdk", branch = "pop", optional = true }
uuid = { version = "1.7.0", features = ["v4"], optional = true }
frame-support-procedural-tools = { version = "9.0.0", optional = true }
proc-macro2 = { version = "1.0.70", features = [
    "span-locations",
], optional = true }
quote = { version = "1.0.33", optional = true }
syn = { version = "2.0.52", features = ["full"], optional = true }
cfg-expr = { version = "0.15.5", optional = true }
prettyplease = { version = "0.2.15", optional = true }

[features]
default = ["contract", "parachain"]
contract = [
    "dep:contract-build",
    "dep:contract-extrinsics",
    "dep:sp-core",
    "dep:subxt-signer",
    "dep:subxt",
    "dep:ink_env",
    "dep:sp-weights",
    "dep:url",
]
parachain = [
    "dep:dirs",
    "dep:indexmap",
    "dep:reqwest",
    "dep:serde_json",
    "dep:symlink",
    "dep:tracing-subscriber",
    "dep:url",
    "dep:zombienet-sdk",
    "dep:zombienet-support",
    "uuid",
    "frame-support-procedural-tools",
    "proc-macro2",
    "quote",
    "syn",
    "cfg-expr",
    "prettyplease",
]
