[package]
name = "pop-cli"
description = "Your one-stop entry into the exciting world of blockchain development with Polkadot"
version = "0.1.0"
edition = "2021"

[[bin]]
name = "pop"
path = "src/main.rs"

[dev-dependencies]
tempdir = "0.3.7"

[dependencies]
anyhow = "1.0"
askama = "0.12"
clap = { version = "4.4", features = ["derive"] }
cliclack = "0.1"
console = "0.15"
duct = "0.13"
git2 = "0.18"
log = "0.4"
# semver = "1.0.20"
strum = "0.26"
strum_macros = "0.26"
tempfile = "3.8"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
walkdir = "2.4"

# contracts

# parachains
dirs = { version = "5.0", optional = true }
indexmap = { version = "2.2", optional = true }
reqwest = { version = "0.11", optional = true }
serde_json = { version = "1.0", optional = true }
serde = { version = "1.0", features = ["derive"], optional = true }
symlink = { version = "0.1", optional = true }
toml_edit = { version = "0.22", optional = true }
tracing-subscriber = { version = "0.3", optional = true }
url = { version = "2.5", optional = true }
zombienet-sdk = { git = "https://github.com/paritytech/zombienet-sdk", optional = true }
zombienet-support = { git = "https://github.com/paritytech/zombienet-sdk", optional = true }

[features]
default = ["contract", "parachain"]
contract = []
parachain = [
    "dep:dirs",
    "dep:indexmap",
    "dep:reqwest",
    "dep:serde_json",
    "dep:symlink",
    "dep:toml_edit",
    "dep:tracing-subscriber",
    "dep:url",
    "dep:zombienet-sdk",
    "dep:zombienet-support"
]