[graph]
all-features = false

# This section is considered when running `cargo deny check advisories`
[advisories]
ignore = [
    { id = "RUSTSEC-2024-0388", reason = "No upgrade available. Dependency of contract-extrinsics" },
    { id = "RUSTSEC-2024-0384", reason = "No upgrade available. Dependency of zombienet-sdk" },
    { id = "RUSTSEC-2020-0163", reason = "No upgrade available. Dependency of contract-extrinsics" },
    { id = "RUSTSEC-2024-0436", reason = "No upgrade available. Dependency of contract-build" },
    { id = "RUSTSEC-2025-0012", reason = "No upgrade available. Dependency of zombienet-sdk" },
    { id = "RUSTSEC-2024-0370", reason = "No upgrade available. Dependency of polkadot-sdk" },
    { id = "RUSTSEC-2022-0061", reason = "No upgrade available. Dependency of polkadot-sdk" },
    { id = "RUSTSEC-2026-0006", reason = "No upgrade available. Dependency of polkadot-sdk" },
    { id = "RUSTSEC-2025-0118", reason = "No upgrade available. Dependency of polkadot-sdk" },
    { id = "RUSTSEC-2025-0134", reason = "No upgrade available. Dependency of zombienet-sdk" },
    { id = "RUSTSEC-2026-0002", reason = "No upgrade available. Dependency of polkadot-sdk" },
]

[licenses]
allow = [
    "Apache-2.0",
    "Apache-2.0 WITH LLVM-exception",
    "BSL-1.0",
    "BSD-2-Clause",
    "BSD-3-Clause",
    "CC0-1.0",
    "CDLA-Permissive-2.0",
    "ISC",
    "GPL-3.0",
    "GPL-3.0 WITH Classpath-exception-2.0", # For Substrate crates
    "GPL-3.0-or-later WITH Classpath-exception-2.0", # For Substrate crates
    "GPL-3.0-only",
    "MIT",
    "MPL-2.0",
    "Unicode-3.0",
    "Unicode-DFS-2016",
    "Unlicense",
    "Zlib"
]
confidence-threshold = 0.93

[[licenses.exceptions]]
allow = ["OpenSSL"]
name = "ring"

[[licenses.exceptions]]
allow = ["OpenSSL"]
name = "aws-lc-sys"

[[licenses.clarify]]
crate = "webpki"
expression = "ISC"
license-files = [
    { path = "LICENSE", hash = 0x001c7e6c },
]

[[licenses.exceptions]]
allow = ["GPL-3.0-or-later WITH Classpath-exception-2.0"]
name = "cumulus-rely-chain-interface"

[[licenses.clarify]]
name = "ring"
expression = "ISC AND MIT AND OpenSSL"
license-files = [
    { path = "LICENSE", hash = 0xbd0eed23 },
]
