[relaychain]
chain = "rococo-local"

[[relaychain.nodes]]
name = "alice"
validator = true

[[parachains]]
id = 1000
default_command = "./target/release/^^node^^"

[[parachains.collators]]
name = "collator-01"