[package]
name = "pop-cli"
description = "An all-in-one tool for Polkadot development."
version = "0.1.0"
edition = "2021"

[[bin]]
name = "pop"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
duct.workspace = true
tempfile.workspace = true
url.workspace = true
tokio.workspace = true
reqwest.workspace = true
os_info.workspace = true

# pop-cli
clap.workspace = true
cliclack.workspace = true
console.workspace = true
strum.workspace = true
strum_macros.workspace = true

# contracts
pop-contracts = { path = "../pop-contracts", optional = true }
sp-core = { workspace = true, optional = true }
sp-weights = { workspace = true, optional = true }

# parachains
pop-parachains = { path = "../pop-parachains", optional = true }
dirs = { version = "5.0", optional = true }
git2.workspace = true

[dev-dependencies]
assert_cmd = "2.0.14"
predicates = "3.1.0"

[features]
default = ["contract", "parachain"]
static-ssl = ["git2/vendored-openssl"]
contract = [
    "dep:pop-contracts",
    "dep:sp-core",
    "dep:sp-weights",
]
e2e_contract = []
unit_contract = []
parachain = [
    "dep:pop-parachains",
    "dep:dirs",
]
e2e_parachain = []
unit_parachain = []

