[package]
name = "pop-cli"
description = "An all-in-one tool for Polkadot development."
version = "0.1.0"
edition.workspace = true

[[bin]]
name = "pop"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
duct.workspace = true
env_logger.workspace = true
serde.workspace = true
serde_json.workspace = true
tempfile.workspace = true
tokio.workspace = true
url.workspace = true

# pop-cli
clap.workspace = true
cliclack.workspace = true
console.workspace = true
strum.workspace = true
strum_macros.workspace = true

# contracts
pop-contracts = { path = "../pop-contracts", optional = true }
sp-core = { workspace = true, optional = true }
sp-weights = { workspace = true, optional = true }

# parachains
pop-parachains = { path = "../pop-parachains", optional = true }
dirs = { version = "5.0", optional = true }
git2 = { workspace = true, features = ["vendored-openssl"] }

# telemetry
pop-telemetry = { path = "../pop-telemetry", optional = true }

[dev-dependencies]
assert_cmd = "2.0.14"
predicates = "3.1.0"

[features]
default = ["contract", "parachain", "telemetry"]
static-ssl = ["git2/vendored-openssl"]
contract = [
    "dep:pop-contracts",
    "dep:sp-core",
    "dep:sp-weights",
]
parachain = [
    "dep:pop-parachains",
    "dep:dirs",
]
telemetry = ["dep:pop-telemetry"]
