[package]
name = "pop-cli"
description = "An all-in-one tool for Polkadot development."
version = "0.3.0"
edition.workspace = true
documentation.workspace = true
license.workspace = true
readme = "README.md"
repository.workspace = true

[[bin]]
name = "pop"
path = "src/main.rs"

[dependencies]
anyhow.workspace = true
duct.workspace = true
env_logger.workspace = true
os_info.workspace = true
reqwest.workspace = true
serde_json.workspace = true
tempfile.workspace = true
tokio.workspace = true
url.workspace = true
regex.workspace = true

# pop-cli
clap.workspace = true
cliclack.workspace = true
console.workspace = true
strum.workspace = true
strum_macros.workspace = true

# contracts
pop-contracts = { path = "../pop-contracts", version = "0.3.0", optional = true }
sp-core = { workspace = true, optional = true }
sp-weights = { workspace = true, optional = true }

# parachains
pop-parachains = { path = "../pop-parachains", version = "0.3.0", optional = true }
dirs = { workspace = true, optional = true }
git2.workspace = true

# telemetry
pop-telemetry = { path = "../pop-telemetry", version = "0.3.0", optional = true }

# common
pop-common = { path = "../pop-common", version = "0.3.0" }

[dev-dependencies]
assert_cmd.workspace = true
predicates.workspace = true

[features]
default = ["contract", "parachain", "telemetry"]
contract = ["dep:pop-contracts", "dep:sp-core", "dep:sp-weights", "dep:dirs"]
parachain = ["dep:pop-parachains", "dep:dirs"]
telemetry = ["dep:pop-telemetry"]
