[package]
name = "pop-parachains"
description = "Library for generating, building and running parachains."
version = "0.1.0"
license = "Apache-2.0"
edition.workspace = true

[dependencies]
anyhow.workspace = true
duct.workspace = true
git2.workspace = true
git2_credentials.workspace = true
strum.workspace = true
strum_macros.workspace = true
tempfile.workspace = true
thiserror.workspace = true
tokio.workspace = true
url.workspace = true

askama.workspace = true
indexmap.workspace = true
regex.workspace = true
reqwest.workspace = true
serde_json.workspace = true
serde.workspace = true
symlink.workspace = true
toml_edit.workspace = true
walkdir.workspace = true
# Zombienet
zombienet-sdk.workspace = true
zombienet-support.workspace = true
