#!/usr/bin/make -f

export PATH := $(HOME)/.cargo/bin:$(PATH)
export DH_VERBOSE = 1

%:
	dh $@

override_dh_auto_clean:
	cargo clean

override_dh_auto_build:
	cargo build --release --locked

override_dh_auto_test:
	# Skip tests during package build

override_dh_auto_install:
	install -D -m 755 target/release/pop debian/pop-cli/usr/bin/pop
