[test-groups]
pop-fork-sequential = { max-threads = 1 }

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(remote::tests::sequential::)'
test-group = 'pop-fork-sequential'