[test-groups]
pop-fork-sequential = { max-threads = 1 }

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(remote::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(local::tests::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(executor::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(block::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(blockchain::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(builder::tests::sequential::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc_server::methods::archive::tests::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc_server::methods::chain_spec::tests::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc_server::methods::chain::tests::)'
test-group = 'pop-fork-sequential'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc_server::methods::author::tests::)'
test-group = 'pop-fork-sequential'