[test-groups]
pop-fork-rpc = { max-threads = 1 }
pop-fork-metadata = { max-threads = 1 }

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(rpc::tests::sequential::)'
test-group = 'pop-fork-rpc'

[[profile.default.overrides]]
filter = 'package(pop-fork) and test(metadata::tests::sequential::)'
test-group = 'pop-fork-metadata'