use crate::{mock::*, *};
use frame::deps::frame_support::{assert_noop, assert_ok};


// Some utils useful for testing
mod utils;

// You can split your tests in modules and add them here, or just write them down :)