name: docker-ci

permissions:
  contents: read
  packages: write

on:
  workflow_dispatch:
    inputs:
      docker_image:
        description: Docker image to build
        required: false
        default: ""
  workflow_call:
    inputs:
      docker_image:
        description: Docker image to build
        required: true
        type: string


jobs:
  build-ci-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup
        run: |
          echo "RUST_VERSION=$(yq -r '.toolchain.channel' rust-toolchain.toml)" >> $GITHUB_ENV
          echo "DOCKER_IMAGE=${{ inputs.docker_image != '' && inputs.docker_image || format('ghcr.io/{0}', github.repository) }}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push CI image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.ci
          push: true
          tags: |
            ${{ env.DOCKER_IMAGE }}:latest
            ${{ env.DOCKER_IMAGE }}:${{ env.RUST_VERSION }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          build-args: RUST_TOOLCHAIN=${{ env.RUST_VERSION }}
