name: pop install

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

defaults:
  run:
    shell: bash

jobs:
  ubuntu:
    runs-on: ubuntu-latest
    container: ubuntu
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: apt-get update && apt-get -y install build-essential cmake curl git
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --path ./crates/pop-cli
          pop