name: pop install

on:
  push:
    branches:
      - main
    paths:
      - 'rust-toolchain.toml'
      - 'Cargo.lock'
      - '.github/workflows/install.yml'
      - 'crates/pop-cli/src/commands/install/**'
  pull_request:
    paths:
      - 'rust-toolchain.toml'
      - 'Cargo.lock'
      - '.github/workflows/install.yml'
      - 'crates/pop-cli/src/commands/install/**'

defaults:
  run:
    shell: bash

env:
  DO_NOT_TRACK: 1

concurrency:
  # Cancel any in-progress jobs for the same pull request or branch
  group: install-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  arch:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: pacman -Syu --needed --noconfirm cmake curl git base-devel clang protobuf sqlite
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop install
        run: |
          pop install -y --frontend
  debian:
    runs-on: ubuntu-latest
    container: debian
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: apt-get update && apt-get -y install build-essential cmake curl git clang protobuf-compiler libsqlite3-dev
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop Install
        run: |
          pop install -y --frontend
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: |
          brew update
          brew uninstall --force cmake || true
          brew install cmake openssl protobuf
      - name: Install Pop
        run: |
          cargo install --locked --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          brew uninstall rustup
      - name: Run Pop Install
        run: |
          pop install -y --frontend
  redhat:
    runs-on: ubuntu-latest
    container: redhat/ubi8
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: yum update -y && yum install -y perl perl-IPC-Cmd perl-Time-HiRes perl-Time-Piece clang curl git make cmake protobuf-compiler gcc pkg-config openssl-devel sqlite-devel
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop install
        run: |
          pop install -y --frontend
  ubuntu:
    runs-on: ubuntu-latest
    container: ubuntu
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: apt-get update && apt-get -y install build-essential cmake curl git clang protobuf-compiler libsqlite3-dev
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop install
        run: |
          pop install -y --frontend
