name: pop install

on:
  push:
    branches: ["main"]
    paths:
      - '.github/workflows/install.yml'
      - 'crates/pop-cli/src/commands/install/**'
  pull_request:
    branches: ["main"]
    paths:
      - '.github/workflows/install.yml'
      - 'crates/pop-cli/src/commands/install/**'

defaults:
  run:
    shell: bash

concurrency:
  # Cancel any in-progress jobs for the same pull request or branch
  group: install-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  arch:
    runs-on: ubuntu-latest
    container: archlinux:latest
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: pacman -Syu --needed --noconfirm cmake curl git base-devel clang protobuf
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --no-default-features --features contract,chain --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop install
        run: |
          pop install -y
  debian:
    runs-on: ubuntu-latest
    container: debian
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: apt-get update && apt-get -y install build-essential cmake curl git clang protobuf-compiler
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --no-default-features --features contract,chain --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop Install
        run: |
          pop install -y
  macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: |
          brew update
          brew uninstall --force cmake || true
          brew install cmake openssl protobuf
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --no-default-features --features contract,chain --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop Install
        env:
          HOMEBREW_NO_AUTO_UPDATE: 1
        run: |
          pop install -y
  redhat:
    runs-on: ubuntu-latest
    container: redhat/ubi8
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: yum update -y && yum install -y perl-IPC-Cmd clang curl git make cmake protobuf-compiler gcc pkg-config openssl-devel
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --no-default-features --features contract,chain --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop install
        run: |
          pop install -y
  ubuntu:
    runs-on: ubuntu-latest
    container: ubuntu
    steps:
      - uses: actions/checkout@v4
      - name: Install prerequisites
        run: apt-get update && apt-get -y install build-essential cmake curl git clang protobuf-compiler
      - name: Install Rust
        run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
      - name: Install Pop
        run: |
          . "$HOME/.cargo/env"
          cargo install --locked --no-default-features --features contract,chain --path ./crates/pop-cli
          cp $(which pop) /usr/local/bin/pop
          rustup self uninstall -y
      - name: Run Pop install
        run: |
          pop install -y
