name: pop-cli release

on:
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      ref:
        description: ref to build binary from
        required: false

jobs:
  build-node:
    runs-on: ${{ matrix.platform.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        platform:
          # Linux
          - os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          # macOS
          - os: macos-14
            target: aarch64-apple-darwin
          - os: macos-14
            target: x86_64-apple-darwin
    env:
      RUSTFLAGS: "${{ matrix.platform.cpu != '' && format('-C target-cpu={0}', matrix.platform.cpu) || '' }} ${{ matrix.platform.target == 'aarch64-unknown-linux-gnu' && '-C linker=aarch64-linux-gnu-gcc' || '' }}"
      path: "target/${{ matrix.platform.target }}/production"
      package: "pop-${{ matrix.platform.target }}${{ matrix.platform.cpu != '' && format('-{0}', matrix.platform.cpu) || '' }}.tar.gz"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.ref }}

      - name: Install packages (Linux)
        if: contains(matrix.platform.target, 'linux')
        run: |
          sudo apt-get install -y protobuf-compiler ${{ contains(matrix.platform.target, 'aarch64') && 'crossbuild-essential-arm64' || '' }}
          protoc --version

      - name: Install packages (macOS)
        if: contains(matrix.platform.target, 'apple')
        run: |
          brew install protobuf
          protoc --version

      - name: Add target
        run: rustup target add ${{ matrix.platform.target }}

      - name: Build pop-cli
        run: cargo build --profile=production -p pop-cli --target ${{ matrix.platform.target }}

      - name: Package binary (Linux)
        if: contains(matrix.platform.target, 'linux')
        run: |
          cd ${{ env.path }}
          sha256sum pop > pop.sha256
          tar -czf ${{ env.package }} pop pop.sha256

      - name: Package binary (macOS)
        if: contains(matrix.platform.target, 'apple')
        run: |
          cd ${{ env.path }}
          shasum -a 256 pop > pop.sha256
          tar -czf ${{ env.package }} pop pop.sha256

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ strategy.job-index }}
          path: ${{ env.path }}/${{ env.package }}

      - name: Add binary to release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.path }}/${{ env.package }}
