name: pop-cli release

on:
  release:
    types: [ published ]
  workflow_dispatch:
    inputs:
      ref:
        description: ref to build binary from
        required: false

jobs:
  build-node:
    runs-on: ${{ matrix.platform.os }}
    permissions:
      contents: write
    strategy:
      matrix:
        platform:
          # Linux
          - os: ubuntu-22.04
            target: aarch64-unknown-linux-gnu
          - os: ubuntu-22.04
            target: x86_64-unknown-linux-gnu
          # macOS
          - os: macos-14
            target: aarch64-apple-darwin
          - os: macos-14
            target: x86_64-apple-darwin
    env:
      RUSTFLAGS: "${{ matrix.platform.cpu != '' && format('-C target-cpu={0}', matrix.platform.cpu) || '' }} ${{ matrix.platform.target == 'aarch64-unknown-linux-gnu' && '-C linker=aarch64-linux-gnu-gcc' || '' }}"
      path: "target/${{ matrix.platform.target }}/production"
      package: "pop-${{ matrix.platform.target }}${{ matrix.platform.cpu != '' && format('-{0}', matrix.platform.cpu) || '' }}.tar.gz"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.ref }}

      - name: Install packages (Linux)
        if: contains(matrix.platform.target, 'linux')
        run: |
          sudo apt-get update
          sudo apt-get install -y protobuf-compiler ${{ contains(matrix.platform.target, 'aarch64') && 'crossbuild-essential-arm64' || '' }}
          protoc --version

      - name: Install packages (macOS)
        if: contains(matrix.platform.target, 'apple')
        run: |
          brew install protobuf
          protoc --version

      - name: Add target
        run: rustup target add ${{ matrix.platform.target }}

      - name: Build pop-cli
        run: cargo build --locked --profile=production -p pop-cli --target ${{ matrix.platform.target }}

      - name: Package binary (Linux)
        if: contains(matrix.platform.target, 'linux')
        run: |
          cd ${{ env.path }}
          sha256sum pop > pop.sha256
          tar -czf ${{ env.package }} pop pop.sha256

      - name: Package binary (macOS)
        if: contains(matrix.platform.target, 'apple')
        run: |
          cd ${{ env.path }}
          shasum -a 256 pop > pop.sha256
          tar -czf ${{ env.package }} pop pop.sha256

      - name: Upload binary
        uses: actions/upload-artifact@v4
        with:
          name: binaries-${{ strategy.job-index }}
          path: ${{ env.path }}/${{ env.package }}

      - name: Add binary to release
        if: github.event_name == 'release'
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ env.path }}/${{ env.package }}

  build-debian-and-ppa:
    name: Build Debian Package and Upload to PPA
    runs-on: ubuntu-22.04
    permissions:
      contents: write
    if: github.event_name == 'release'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.inputs.ref }}

      - name: Install build dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y curl git debhelper libssl-dev pkg-config protobuf-compiler devscripts dput
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
          echo "$HOME/.cargo/bin" >> $GITHUB_PATH

      - name: Build local .deb for GitHub Release
        run: dpkg-buildpackage -us -uc -d

      - name: Upload Debian package to GitHub Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ github.workspace }}/../pop-cli_*.deb

      - name: Add vendored dependencies to source package
        run: |
          mkdir .cargo
          cargo vendor > .cargo/config.toml

      - name: Prepare and Upload Source to Ubuntu PPA
        env:
          DEBFULLNAME: "R0GUE"
          DEBEMAIL: "go@r0gue.io"
          USER: "R0GUE"
        run: |
          echo "${{ secrets.GPG_PRIVATE_KEY }}" | gpg --import --batch
          GPG_KEY_ID="$(gpg --list-secret-keys --keyid-format LONG | grep sec | awk '{print $2}' | cut -d'/' -f2 | tail -n1)"
          yes | debuild -S -sa -k"${GPG_KEY_ID}" -d --lintian-opts --no-lintian 
          dput ${{ secrets.LAUNCHPAD_PPA }} ${{ github.workspace }}/../pop-cli_*.changes

  publish-homebrew:
    name: Publish to Homebrew
    runs-on: ubuntu-latest
    permissions:
      contents: read
    needs: build-node
    if: github.event_name == 'release'
    steps:
      - name: Extract version
        id: extract_version
        run: |
          echo "VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: Checkout tap repository
        uses: actions/checkout@v4
        with:
          repository: ${{ github.repository_owner }}/homebrew-pop-cli
          token: ${{ secrets.HOMEBREW_TAP_TOKEN }}
          path: homebrew-tap

      - name: Update the formula
        run: |
          cd homebrew-tap
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          ./update.sh "${VERSION}"
